{% extends 'producto/base.html' %}

{% block content %}
<div class="container">
    <div class="row" style="padding-top: 2rem;">
            <div class="col s12 m4 l12 z-depth-5" style="background:#fff;">
        <table class="responsive-table highlight ">
            <thead>
              <tr>
                  <th>Nombre</th>
                  <th>Descripcion</th>
                  <th>Precio</th>
                  <th>Cantidad</th>
              </tr>
            </thead>
    
            <tbody>
                {% for lista in productos %}
                <tr class="hoverable">
                    <td>{{ lista.nombre}}</td>
                    <td>{{ lista.descripcion}}</td>
                    <td>${{ lista.precio }}</td>
                    <td>{{ lista.cantidad }}</td>
                  </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
    </div>
</div>
{% endblock %}